<div class="container">        
  <h3>Add a employee</h3>   
   
  <div>   
    <label>Product Name</label>   
    <%= @employee.name %>   
  </div>   

  <div>   
    <label>Price</label>   
    <%= @employee.price %>   
  </div>   
  
  <div>   
    <label>Description</label>   
    <%= @employee.short_description %>   
  </div>   
     
  <div>   
    <%#= link_to 'Back', { controller: 'products', action: 'index'} %>   
  </div>   
</div>  